Repository mattjennings/svelte-pixi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

docs
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

docs
  docs/astro.config.mjs
  docs/package.json
  docs/src/components/ComponentAPI.astro
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/bitmap-text.mdx
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/content/docs/api/components/html-text.mdx
  docs/src/content/docs/api/components/mesh.mdx
  docs/src/content/docs/api/components/nine-slice-pane.mdx
  docs/src/content/docs/api/components/particle-container.mdx
  docs/src/content/docs/api/components/renderer.mdx
  docs/src/content/docs/api/components/simple-plane.mdx
  docs/src/content/docs/api/components/simple-rope.mdx
  docs/src/content/docs/api/components/sprite.mdx
  docs/src/content/docs/api/components/text.mdx
  docs/src/content/docs/api/components/ticker.mdx
  docs/src/content/docs/api/components/tiling-sprite.mdx
  docs/src/layouts/DocsPageLayout.astro
  pnpm-lock.yaml
  src/lib/Application.svelte
  src/lib/Container.svelte
  src/lib/Renderer.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

docs
  docs/src/content/docs/api/components/nine-slice-plane.mdx
  docs/tsconfig.json
Due: prettier --ignore-path .eslintignore --write

format
  .prettierrc
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/bitmap-text.mdx
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/content/docs/api/components/html-text.mdx
  docs/src/content/docs/api/components/mesh.mdx
  docs/src/content/docs/api/components/nine-slice-plane.mdx
  docs/src/content/docs/api/components/particle-container.mdx
  docs/src/content/docs/api/components/renderer.mdx
  docs/src/content/docs/api/components/simple-plane.mdx
  docs/src/content/docs/api/components/simple-rope.mdx
  docs/src/content/docs/api/components/sprite.mdx
  docs/src/content/docs/api/components/text.mdx
  docs/src/content/docs/api/components/ticker.mdx
  docs/src/content/docs/api/components/tiling-sprite.mdx
  docs/src/content/docs/api/utilities/on-tick.mdx
  docs/src/content/docs/api/utilities/track.mdx
  docs/src/content/docs/getting-started/intro.mdx
  docs/src/content/docs/getting-started/usage.mdx
  docs/src/content/docs/guides/animation.mdx
  docs/src/content/docs/guides/binding-props.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/content/docs/index.mdx
  examples/with-matter-js/src/lib/physics/Physics.svelte
  pnpm-lock.yaml
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/src/components/ComponentAPI.astro
  docs/src/content/docs/index.mdx
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

docs
  pnpm-workspace.yaml
Due: none

ci
  .github/workflows/lint.yml
Due: prettier --ignore-path .eslintignore --write

formatting
  .eslintignore
  docs/src/content/docs/index.mdx
Due: none

ci
  .changeset/config.json
Due: prettier --ignore-path .eslintignore --write

ci
  .changeset/config.json
  .github/workflows/release.yml
Due: prettier --ignore-path .eslintignore --write

fix docs build issues
  docs/astro.config.mjs
  docs/src/components/ComponentAPI.astro
  pnpm-lock.yaml
Due: none

docs
  docs/src/components/ComponentAPI.astro
  src/lib/Application.svelte
  src/lib/Renderer.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

remove yarn lock file
  yarn.lock
Due: none

add reducing bundle size docs page
  docs/src/content/docs/guides/reducing-bundle-size.mdx
Due: none

docs
  docs/src/content/docs/getting-started/installation.mdx
  docs/src/content/docs/getting-started/intro.mdx
  docs/src/content/docs/getting-started/usage.mdx
  docs/src/content/docs/index.mdx
Due: none

remove console log
  docs/src/components/ComponentAPI.astro
Due: none

update examples
  examples/vite-custom-pixi-file/package.json
  examples/with-matter-js/.gitignore
  examples/with-matter-js/.vscode/extensions.json
  examples/with-matter-js/README.md
  examples/with-matter-js/index.html
  examples/with-matter-js/jsconfig.json
  examples/with-matter-js/package.json
  examples/with-matter-js/public/favicon.ico
  examples/with-matter-js/public/vite.svg
  examples/with-matter-js/src/vite-env.d.ts
  examples/with-matter-js/svelte.config.js
  examples/with-matter-js/vite.config.js
  pnpm-lock.yaml
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

docs
  docs/astro.config.mjs
Due: none

docs
  README.md
  docs/astro.config.mjs
  docs/src/content/config.ts
  docs/src/content/docs/index.mdx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/src/content/docs/api/components/bitmap-text.mdx
Due: none

add better FPS meter to examples
  docs/package.json
  docs/src/components/FPS.svelte
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/layouts/examples/wrappers/WithApp.svelte
  pnpm-lock.yaml
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

add notes
  svelte5-notes.md
Due: none

start svelte 5 migration
  docs/package.json
  docs/src/components/ComponentAPI.astro
  docs/src/components/DraggableCircle.svelte
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/text.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/layouts/examples/wrappers/WithApp.svelte
  examples/vite/package.json
  examples/vite/src/main.js
  package.json
  pnpm-lock.yaml
  src/lib/AnimatedSprite.svelte
  src/lib/Application.svelte
  src/lib/Container.svelte
  src/lib/Graphics.svelte
  src/lib/Renderer.svelte
  src/lib/Text.svelte
  src/lib/Ticker.svelte
  src/lib/util/data-types.ts
  src/lib/util/props.svelte.ts
  src/lib/util/props.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

svelte 5
  docs/src/content/docs/api/utilities/track.mdx
  docs/src/content/docs/guides/animation.mdx
  svelte5-notes.md
Due: none

svelte 5
  docs/src/content/docs/guides/optimizing-performance.mdx
Due: none

svelte 5
  docs/src/content/docs/api/components/simple-rope.mdx
  src/lib/SimplePlane.svelte
  src/lib/SimpleRope.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

svelte 5
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/content/docs/api/components/mesh.mdx
  docs/src/content/docs/api/components/nine-slice-plane.mdx
  docs/src/content/docs/api/components/particle-container.mdx
  docs/src/content/docs/api/components/renderer.mdx
  src/lib/ParticleContainer.svelte
  src/lib/Renderer.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

svelte 5
  docs/src/content/docs/api/components/graphics.mdx
  src/lib/Container.svelte
  src/lib/experimental/Layout.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

svelte 5
  docs/src/content/docs/api/components/simple-rope.mdx
  docs/src/content/docs/api/components/ticker.mdx
  docs/src/content/docs/api/components/tiling-sprite.mdx
  docs/src/content/docs/api/utilities/on-tick.mdx
Due: none

svelte 5
  docs/src/content/docs/api/components/animated-sprite.mdx
  src/lib/AnimatedSprite.svelte
  src/lib/AssetsLoader.svelte
  src/lib/util/data-types.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

svelte 5
  src/lib/AnimatedSprite.svelte
  src/lib/BitmapText.svelte
  src/lib/Container.svelte
  src/lib/Graphics.svelte
  src/lib/HTMLText.svelte
  src/lib/Mesh.svelte
  src/lib/NineSlicePlane.svelte
  src/lib/ParticleContainer.svelte
  src/lib/SimplePlane.svelte
  src/lib/SimpleRope.svelte
  src/lib/Sprite.svelte
  src/lib/Text.svelte
  src/lib/TilingSprite.svelte
  src/lib/experimental/Layout.svelte
  src/lib/util/data-types.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

svelte 5
  docs/src/content/docs/api/utilities/track.mdx
  src/lib/BitmapText.svelte
  src/lib/HTMLText.svelte
  src/lib/Mesh.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

svelte 5
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/layouts/examples/wrappers/Empty.svelte
  src/lib/AssetsLoader.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

svelte 5
  src/lib/AnimatedSprite.svelte
  src/lib/BitmapText.svelte
  src/lib/Graphics.svelte
  src/lib/HTMLText.svelte
  src/lib/Mesh.svelte
  src/lib/NineSlicePlane.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

svelte 5
  docs/src/content/docs/api/components/simple-plane.mdx
  src/lib/SimplePlane.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

svelte 5
  docs/src/content/docs/guides/binding-props.mdx
Due: none

Path conditions:
  eslint --ignore-path .eslintignore --fix: any of: *.{js,ts,tsx,svelte}
  prettier --ignore-path .eslintignore . --write: any of: *.{js,ts,tsx,svelte}
  prettier --ignore-path .eslintignore --write: any of: *.{html,css,json,yml}
