Repository mattjennings/svelte-pixi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

.lintstagedrc:

{
  "*.{js,ts,tsx,svelte}": [
    "eslint --ignore-path .eslintignore --fix",
    "prettier --ignore-path .eslintignore . --write"
  ],
  "*.{html,css,json,yml}": ["prettier --ignore-path .eslintignore --write"]
}

add back Mesh & migrate
  docs/src/content/docs/api/components/mesh.mdx
  docs/src/content/docs/api/components/particle-container.mdx
  docs/src/content/docs/api/components/simple-plane.mdx
  src/lib/Application.svelte
  src/lib/Mesh.svelte
  src/lib/index.ts
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

remove AssetsLoader from example code when not needed
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/bitmap-text.mdx
  docs/src/content/docs/api/components/mesh-plane.mdx
  docs/src/content/docs/api/components/nine-slice-sprite.mdx
  docs/src/content/docs/api/components/simple-rope.mdx
  docs/src/content/docs/api/components/sprite.mdx
  docs/src/content/docs/api/components/tiling-sprite.mdx
  docs/src/content/docs/guides/animation.mdx
Due: none

migrate SimpleRope to MeshRope
  docs/src/content/docs/api/components/mesh-rope.mdx
  src/lib/Mesh.svelte
  src/lib/MeshRope.svelte
  src/lib/index.ts
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

fix sveld breaking on Renderer component
  package.json
  pnpm-lock.yaml
  src/lib/AnimatedSprite.svelte
  src/lib/AssetsLoader.svelte
  src/lib/BitmapText.svelte
  src/lib/Container.svelte
  src/lib/Graphics.svelte
  src/lib/HTMLText.svelte
  src/lib/Mesh.svelte
  src/lib/MeshPlane.svelte
  src/lib/MeshRope.svelte
  src/lib/NineSliceSprite.svelte
  src/lib/ParticleContainer.svelte
  src/lib/Renderer.svelte
  src/lib/RendererContext.svelte
  src/lib/Sprite.svelte
  src/lib/Text.svelte
  src/lib/TilingSprite.svelte
  src/lib/experimental/Layout.svelte
  src/lib/index.ts
  src/lib/util/props.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

migrate TilingSprite
  src/lib/TilingSprite.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

add back texture update invalidation
  src/lib/MeshPlane.svelte
  src/lib/Sprite.svelte
  src/lib/TilingSprite.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

fix animation example
  docs/src/content/docs/guides/animation.mdx
Due: none

fix render events
  docs/src/content/docs/guides/optimizing-performance.mdx
  src/lib/Application.svelte
  src/lib/Renderer.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

render group docs
  docs/public/assets/tree.png
  docs/src/content/docs/api/components/container.mdx
  docs/src/layouts/examples/wrappers/WithApp.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

add new v8 Application props
  src/lib/Application.svelte
  src/lib/util/helpers.ts
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

add v8 renderer props
  src/lib/Application.svelte
  src/lib/Renderer.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

cleanup
  src/lib/Renderer.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

new docs on reducing bundle size
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/guides/reducing-bundle-size.mdx
  examples/vite-custom-pixi-file/package.json
  examples/vite-custom-pixi-file/src/App.svelte
  examples/vite-custom-pixi-file/src/pixi.js
  examples/vite-custom-pixi-file/vite.config.js
  pnpm-lock.yaml
  src/lib/Application.svelte
  src/lib/Renderer.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

add PerspectiveMesh component
  docs/public/assets/eggHead.png
  docs/src/content/docs/api/components/perspective-mesh.mdx
  src/lib/PerspectiveMesh.svelte
  src/lib/index.ts
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

add missing/new props for Container
  src/lib/Container.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/perspective-mesh.mdx
  docs/src/content/docs/api/components/renderer.mdx
  v8.md
Due: none

update internal packages and tooling to svelte 5
  .eslintignore
  .eslintrc.cjs
  docs/package.json
  docs/src/layouts/examples/wrappers/WithApp.svelte
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/lib/Application.svelte
  src/lib/Container.svelte
  src/lib/Renderer.svelte
  src/lib/util/helpers.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

generate api docs for svelte 5 components
  docs/astro.config.ts
  docs/package.json
  docs/src/components/Svelte5ComponentAPI.astro
  docs/src/content/docs/api/components/application.mdx
  docs/tsconfig.json
  pnpm-lock.yaml
  src/lib/svelte-5/Application.svelte
  src/lib/svelte-5/Container.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

add sprite
  docs/src/components/Svelte5ComponentAPI.astro
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/sprite.mdx
  src/lib/svelte-5/Application.svelte
  src/lib/svelte-5/Container.svelte
  src/lib/svelte-5/Sprite.svelte
  src/lib/svelte-5/Text.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

animated sprite
  docs/src/content/docs/api/components/animated-sprite.mdx
  package.json
  src/lib/core/util/props.ts
  src/lib/svelte-5/AnimatedSprite.svelte
  src/lib/svelte-5/Container.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

AssetsLoader, docs
  docs/src/components/ComponentAPI.astro
  docs/src/components/Svelte4ComponentAPI.astro
  docs/src/components/Svelte5ComponentAPI.astro
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/sprite.mdx
  docs/src/content/docs/api/svelte-4/components/container.mdx
  src/lib/svelte-4/AssetsLoader.svelte
  src/lib/svelte-5/AssetsLoader.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

add BitmapText
  .prettierrc
  docs/src/components/ComponentAPI.astro
  docs/src/components/Svelte4ComponentAPI.astro
  docs/src/components/Svelte5ComponentAPI.astro
  docs/src/components/svelte-5/ComponentAPI.astro
  docs/src/components/svelte-5/ComponentDescription.astro
  docs/src/components/svelte-5/component-parser.ts
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/bitmap-text.mdx
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/sprite.mdx
  package.json
  pnpm-lock.yaml
  src/lib/svelte-5/AnimatedSprite.svelte
  src/lib/svelte-5/Application.svelte
  src/lib/svelte-5/BitmapText.svelte
  src/lib/svelte-5/Container.svelte
  src/lib/svelte-5/Sprite.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

graphics component
  docs/src/components/svelte-5/component-parser.ts
  docs/src/content/docs/api/components/graphics.mdx
  src/lib/svelte-5/Graphics.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

start combining svelte 4/5 docs
  docs/src/components/SvelteTabs.astro
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/layouts/examples/wrappers/Empty.svelte
  docs/src/layouts/examples/wrappers/WithApp.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/astro.config.ts
  docs/src/components/ComponentAPI.astro
  docs/src/components/svelte-4/ComponentAPI.astro
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/bitmap-text.mdx
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/content/docs/api/components/sprite.mdx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

htmltext
  docs/astro.config.ts
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/bitmap-text.mdx
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/content/docs/api/components/html-text.mdx
  docs/src/content/docs/api/components/sprite.mdx
  src/lib/svelte-5/HTMLText.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

mesh
  docs/src/content/docs/api/components/mesh.mdx
  src/lib/svelte-5/Mesh.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

mesh plane
  docs/src/content/docs/api/components/mesh-plane.mdx
  src/lib/svelte-5/MeshPlane.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

mesh rope
  docs/src/content/docs/api/components/mesh-rope.mdx
  src/lib/core/util/data-types.ts
  src/lib/svelte-5/MeshRope.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

nineslicesprite
  docs/src/content/docs/api/components/mesh-rope.mdx
  docs/src/content/docs/api/components/nine-slice-sprite.mdx
  src/lib/svelte-5/NineSliceSprite.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

particle container
  docs/src/content/docs/api/components/particle-container.mdx
  src/lib/svelte-5/ParticleContainer.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

perspective mesh
  docs/src/content/docs/api/components/perspective-mesh.mdx
  docs/src/content/docs/api/svelte-4/components/perspective-mesh.mdx
  src/lib/svelte-5/PerspectiveMesh.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

tiling sprite
  docs/src/content/docs/api/components/tiling-sprite.mdx
  docs/src/content/docs/api/svelte-4/components/tiling-sprite.mdx
  src/lib/svelte-5/TilingSprite.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

update utilities docs
  docs/src/content/docs/api/svelte-4/utilities/track.mdx
  docs/src/content/docs/api/utilities/get-app.mdx
  docs/src/content/docs/api/utilities/get-container.mdx
  docs/src/content/docs/api/utilities/get-renderer.mdx
  docs/src/content/docs/api/utilities/get-stage.mdx
  docs/src/content/docs/api/utilities/get-ticker.mdx
  docs/src/content/docs/api/utilities/on-tick.mdx
  docs/src/content/docs/api/utilities/track.mdx
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/src/content/docs/guides/animation.mdx
  docs/src/content/docs/guides/binding-props.mdx
  src/lib/svelte-5/Renderer.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/layouts/examples/wrappers/WithApp.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/src/components/DraggableCircle.svelte
  docs/src/content/docs/guides/optimizing-performance.mdx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

change defaults for application/renderer
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/renderer.mdx
  docs/src/content/docs/api/svelte-4/components/application.mdx
  docs/src/content/docs/api/svelte-4/components/renderer.mdx
  docs/src/layouts/examples/wrappers/Empty.svelte
  docs/src/layouts/examples/wrappers/WithApp.svelte
  src/lib/svelte-4/Renderer.svelte
  src/lib/svelte-5/Application.svelte
  src/lib/svelte-5/AssetsLoader.svelte
  src/lib/svelte-5/Renderer.svelte
  src/lib/svelte-5/RendererContext.svelte
  src/lib/svelte-5/Ticker.svelte
  src/lib/svelte-5/index.ts
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/src/content/docs/api/components/renderer.mdx
Due: none
