Repository mattjennings/svelte-pixi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

wip: new docs
  docs/astro.config.mjs
  docs/integrations/live-examples/index.mjs
  docs/integrations/live-examples/remark.mjs
  docs/integrations/live-examples/vite.mjs
  docs/package.json
  docs/src/components/Example.svelte
  docs/src/components/Example2.astro
  docs/src/components/test.svx
  docs/src/content/docs/components/animated-sprite.mdx
  docs/src/content/docs/components/application.mdx
  docs/src/content/docs/components/assets-loader.mdx
  docs/src/layouts/examples/ExampleLayout.astro
  docs/src/layouts/examples/wrappers/Empty.svelte
  docs/src/layouts/examples/wrappers/WithApp.svelte
  pnpm-lock.yaml
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

wip: new docs
  .lintstagedrc
Due: none

wip: new docs
  docs/astro.config.mjs
Due: none

wip: new docs
  docs/src/components/ExampleWrapper.svelte
  docs/src/content/docs/Test.svelte
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/reference/example.md
  docs/src/content/docs/test.mdx
  docs/src/layouts/examples/ExampleLayout.astro
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

wip: new docs
  docs/integrations/live-examples/index.mjs
  docs/integrations/live-examples/remark.mjs
  docs/integrations/live-examples/virtual-files.mjs
  docs/integrations/live-examples/vite.mjs
  docs/package.json
  docs/src/content/docs/components/_DraggableCircle.svelte
  docs/src/content/docs/components/animated-sprite.mdx
  docs/src/content/docs/components/application.mdx
  pnpm-lock.yaml
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

Revert "refactor: consolidate Container event handlers"
  src/lib/Container.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

feat: support EventSystem
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/docs/components/_DraggableCircle.svelte
  docs/src/content/docs/components/application.mdx
  docs/src/layouts/examples/ExampleLayout.astro
  docs/src/tailwind.css
  examples/vite-custom-pixi-file/src/pixi.js
  pnpm-lock.yaml
  src/lib/AnimatedSprite.svelte
  src/lib/Application.svelte
  src/lib/BitmapText.svelte
  src/lib/Container.svelte
  src/lib/Graphics.svelte
  src/lib/Mesh.svelte
  src/lib/NineSlicePlane.svelte
  src/lib/ParticleContainer.svelte
  src/lib/Renderer.svelte
  src/lib/SimplePlane.svelte
  src/lib/SimpleRope.svelte
  src/lib/Sprite.svelte
  src/lib/Text.svelte
  src/lib/TilingSprite.svelte
  v7-migration.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

wip: new docs
  docs/astro.config.mjs
  docs/src/content/docs/api/components/_DraggableCircle.svelte
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/getting-started/creating-a-project.mdx
  docs/src/content/docs/getting-started/intro.mdx
  docs/src/content/docs/getting-started/usage.mdx
  docs/src/content/docs/guides/migrations/v7.md
  docs/src/content/docs/index.mdx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

wip: new docs
  docs/astro.config.mjs
  docs/integrations/live-examples/index.mjs
  docs/src/content/docs/api/components/_DraggableCircle.svelte
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/bitmap-text.mdx
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/content/docs/api/components/mesh.mdx
  docs/src/content/docs/index.mdx
  docs/src/layouts/examples/ExampleLayout.astro
  docs/src/layouts/examples/wrappers/Empty.svelte
  docs/src/layouts/examples/wrappers/WithApp.svelte
  docs/src/tailwind.css
  docs/tailwind.config.mjs
  package.json
  src/lib-site/ExampleApplication.svelte
  src/lib/Application.svelte
  src/lib/experimental/Layout.svelte
  src/lib/experimental/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

wip: new docs
  package.json
Due: prettier --ignore-path .eslintignore --write

wip: new docs
  docs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

wip: new docs
  docs/astro.config.mjs
  docs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

wip: new docs
  .gitignore
  docs/.gitignore
Due: none

wip: new docs
  .vercelignore
Due: none

wip: new docs
  .vercelignore
  docs/astro.config.mjs
Due: none

wip: new docs
  docs/src/content/docs/api/components/application.mdx
  src/lib/Application.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

wip: new docs
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

remove release-it & conventional commits
  .changeset/README.md
  .changeset/config.json
  .changeset/pink-trainers-jam.md
  .changeset/pre.json
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .husky/commit-msg
  README.md
  commitlint.config.cjs
  examples/with-matter-js/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

update lockfile
  pnpm-lock.yaml
Due: none

ci
  .github/workflows/release.yml
  package.json
Due: prettier --ignore-path .eslintignore --write

docs
  .changeset/pre.json
  docs/src/content/docs/api/components/assets-loader.mdx
Due: prettier --ignore-path .eslintignore --write

docs
  docs/src/content/docs/guides/migrations/v7.md
Due: none

docs
  docs/src/content/docs/api/components/nine-slice-pane.mdx
  docs/src/content/docs/api/components/particle-container.mdx
  docs/src/content/docs/api/components/renderer.mdx
  docs/src/content/docs/api/components/simple-plane.mdx
  docs/src/content/docs/api/components/simple-rope.mdx
  docs/src/content/docs/api/components/sprite.mdx
  docs/src/content/docs/api/components/text.mdx
  docs/src/content/docs/api/components/ticker.mdx
  docs/src/content/docs/api/components/tiling-sprite.mdx
  docs/src/layouts/examples/ExampleLayout.astro
  docs/src/layouts/examples/wrappers/WithApp.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/astro.config.mjs
  docs/src/content/docs/api/components/_DraggableCircle.svelte
  docs/src/content/docs/guides/animation/svelte-motion.mdx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/astro.config.mjs
  docs/src/components/DraggableCircle.svelte
  docs/src/components/FPS.svelte
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/renderer.mdx
  docs/src/content/docs/api/utilities/get-app.mdx
  docs/src/content/docs/api/utilities/get-container.mdx
  docs/src/content/docs/api/utilities/get-renderer.mdx
  docs/src/content/docs/api/utilities/get-stage.mdx
  docs/src/content/docs/api/utilities/get-ticker.mdx
  docs/src/content/docs/api/utilities/on-tick.mdx
  docs/src/content/docs/api/utilities/track.mdx
  docs/src/content/docs/guides/animation.mdx
  docs/src/content/docs/guides/binding-props.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  src/routes/docs/advanced/_/FPS.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

docs
  docs/package.json
Due: prettier --ignore-path .eslintignore --write

docs
  pnpm-lock.yaml
Due: none

prune pnpm lock
  pnpm-lock.yaml
Due: none

docs
  docs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

docs
  .pnpmfile.cjs
  docs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

docs
  .pnpmfile.cjs
  docs/package.json
  svelte.config.js
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

docs
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/layouts/examples/wrappers/WithApp.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

fix types
  src/lib/AssetsLoader.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

support HTMLText component
  .changeset/smooth-llamas-destroy.md
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/html-text.mdx
  src/lib/HTMLText.svelte
  src/lib/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

Path conditions:
  eslint --ignore-path .eslintignore --fix: any of: *.{js,ts,tsx,svelte}
  prettier --ignore-path .eslintignore . --write: any of: *.{js,ts,tsx,svelte}
  prettier --ignore-path .eslintignore --write: any of: *.{html,css,json,yml}
