Repository mattjennings/svelte-pixi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

svelte 5
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/layouts/examples/wrappers/WithApp.svelte
  package.json
  pnpm-lock.yaml
  src/lib/Container.svelte
  src/lib/Graphics.svelte
  src/lib/Sprite.svelte
  src/lib/Text.svelte
  src/lib/Ticker.svelte
  src/lib/util/data-types.ts
  src/lib/util/props.svelte.ts
  src/lib/util/props.ts
  svelte5-notes.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

fix fps meter
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/layouts/examples/wrappers/WithApp.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

fix some broken examples
  docs/src/layouts/examples/wrappers/WithApp.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

update svelte5, remove key workaround
  docs/package.json
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/simple-rope.mdx
  docs/src/content/docs/api/components/tiling-sprite.mdx
  docs/src/content/docs/api/utilities/on-tick.mdx
  docs/src/content/docs/api/utilities/track.mdx
  docs/src/content/docs/guides/binding-props.mdx
  docs/src/layouts/examples/wrappers/WithApp.svelte
  package.json
  pnpm-lock.yaml
  svelte5-notes.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

support expressive code in docs
  docs/astro.config.mjs
  docs/integrations/live-examples/index.mjs
  docs/integrations/live-examples/remark.mjs
Due: none

refactor live examples plugin
  docs/astro.config.mjs
  docs/integrations/live-examples/remark.mjs
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/bitmap-text.mdx
  docs/src/content/docs/api/components/particle-container.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/layouts/examples/wrappers/WithApp.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

fix examples to not be 0-based coordinates but still be responsive
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/bitmap-text.mdx
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/content/docs/api/components/html-text.mdx
  docs/src/content/docs/api/components/mesh.mdx
  docs/src/content/docs/api/components/nine-slice-plane.mdx
  docs/src/content/docs/api/components/particle-container.mdx
  docs/src/content/docs/api/components/renderer.mdx
  docs/src/content/docs/api/components/simple-plane.mdx
  docs/src/content/docs/api/components/simple-rope.mdx
  docs/src/content/docs/api/components/sprite.mdx
  docs/src/content/docs/api/components/text.mdx
  docs/src/content/docs/api/components/ticker.mdx
  docs/src/content/docs/api/components/tiling-sprite.mdx
  docs/src/content/docs/api/utilities/on-tick.mdx
  docs/src/content/docs/api/utilities/track.mdx
  docs/src/content/docs/getting-started/usage.mdx
  docs/src/content/docs/guides/animation.mdx
  docs/src/content/docs/guides/binding-props.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/layouts/examples/wrappers/Empty.svelte
  docs/src/layouts/examples/wrappers/WithApp.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/integrations/live-examples/remark.mjs
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/renderer.mdx
  docs/src/content/docs/getting-started/usage.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/layouts/examples/ExampleLayout.astro
  docs/src/layouts/examples/wrappers/WithApp.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

upgrade astro
  docs/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

docs
  README.md
  docs/astro.config.mjs
  docs/src/content/docs/404.md
  docs/src/content/docs/api/utilities/get-container.mdx
  docs/src/content/docs/api/utilities/track.mdx
  docs/src/content/docs/getting-started/installation.mdx
  docs/src/content/docs/getting-started/usage.mdx
  docs/src/content/docs/guides/binding-props.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/content/docs/guides/reducing-bundle-size.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/releases/v7-0-0.md
Due: none

docs
  docs/astro.config.mjs
  docs/src/components/ComponentAPI.astro
  docs/src/layouts/examples/ExampleLayout.astro
  docs/src/layouts/examples/wrappers/WithApp.svelte
  docs/tailwind.config.mjs
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

split out live-examples integration into astro-live-code package
  docs/astro.config.mjs
  docs/integrations/live-examples/index.mjs
  docs/integrations/live-examples/remark.mjs
  docs/integrations/live-examples/virtual-files.mjs
  docs/integrations/live-examples/vite.mjs
  docs/package.json
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/renderer.mdx
  docs/src/content/docs/getting-started/usage.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

stars landing page demo
  docs/package.json
  docs/src/components/Hero/Hero.astro
  docs/src/components/Hero/Stars.svelte
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/content/docs/index.mdx
  pnpm-lock.yaml
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

remove release workflow, will do manual releases instead
  .github/workflows/release.yml
Due: prettier --ignore-path .eslintignore --write

run prettier
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/mesh.mdx
  docs/src/content/docs/index.mdx
Due: none

v7.0.0
  .changeset/pink-trainers-jam.md
  .changeset/pre.json
  .changeset/smooth-llamas-destroy.md
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --write

mark docs as private package
  docs/package.json
Due: prettier --ignore-path .eslintignore --write

get hello world working in v8
  .changeset/pre.json
  .changeset/tough-books-run.md
  examples/svelte-kit/package.json
  examples/vite-custom-pixi-file/package.json
  examples/vite/package.json
  examples/vite/src/App.svelte
  examples/with-matter-js/package.json
  package.json
  pnpm-lock.yaml
  src/lib/AnimatedSprite.svelte
  src/lib/Application.svelte
  src/lib/Graphics.svelte
  src/lib/HTMLText.svelte
  src/lib/Renderer.svelte
  src/lib/RendererContext.svelte
  src/lib/Sprite.svelte
  src/lib/Text.svelte
  src/lib/Ticker.svelte
  src/lib/TilingSprite.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

add loading slot to application
  src/lib/Application.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

fix: do not append renderer to text nodes
  src/lib/Renderer.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

chore: update dependencies (vite 6, svelte 5, pixi 7.4.2)
  docs/package.json
  examples/svelte-kit/package.json
  examples/vite-custom-pixi-file/package.json
  examples/vite/package.json
  examples/with-matter-js/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

fix: __dirname resolver
  docs/src/components/ComponentAPI.astro
Due: none

chore: undo version svelte-pixi verison bump
  package.json
Due: prettier --ignore-path .eslintignore --write

chore: update to svelte 5.14
  docs/package.json
  examples/vite-custom-pixi-file/package.json
  examples/vite/package.json
  examples/with-matter-js/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

feat: migrate components to Svelte 5
  src/lib/Application.svelte
  src/lib/Container.svelte
  src/lib/ParticleContainer.svelte
  src/lib/Renderer.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

refactor: simplify types for Application in preperation for better doc generation
  src/lib/Application.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

remove pluginName prop
  src/lib/AnimatedSprite.svelte
  src/lib/Graphics.svelte
  src/lib/HTMLText.svelte
  src/lib/Sprite.svelte
  src/lib/Text.svelte
  src/lib/TilingSprite.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

clean up async init logic
  docs/package.json
  docs/src/layouts/examples/wrappers/WithApp.svelte
  pnpm-lock.yaml
  src/lib/Application.svelte
  src/lib/Container.svelte
  src/lib/Renderer.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

migrate Container
  src/lib/Container.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

fix graphics, onTick in examples
  docs/src/components/DraggableCircle.svelte
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/content/docs/api/components/mesh.mdx
  docs/src/content/docs/api/components/nine-slice-plane.mdx
  docs/src/content/docs/api/components/particle-container.mdx
  docs/src/content/docs/api/components/simple-plane.mdx
  docs/src/content/docs/api/components/simple-rope.mdx
  docs/src/content/docs/api/components/tiling-sprite.mdx
  docs/src/content/docs/api/utilities/on-tick.mdx
  docs/src/content/docs/api/utilities/track.mdx
  docs/src/content/docs/getting-started/usage.mdx
  docs/src/content/docs/guides/animation.mdx
  docs/src/content/docs/guides/binding-props.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  examples/with-matter-js/src/lib/Box.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

migrate Sprite
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/sprite.mdx
  src/lib/AssetsLoader.svelte
  src/lib/Sprite.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

deprecate name, use label
  docs/src/content/docs/guides/animation.mdx
  src/lib/Container.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

fix track()
  src/lib/util/props.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

use new Text constructor args
  src/lib/Text.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

backtrack on texture string support
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/sprite.mdx
  src/lib/Sprite.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

migrate BitmapText
  docs/src/content/docs/api/components/bitmap-text.mdx
  src/lib/BitmapText.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

migrate HTMLText
  src/lib/HTMLText.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

migrate Mesh to MeshPlane
  docs/src/content/docs/api/components/mesh-plane.mdx
  docs/src/content/docs/api/components/mesh.mdx
  src/lib/MeshPlane.svelte
  src/lib/index.ts
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

migrate NineSlicePlane to NineSliceSprite
  docs/src/content/docs/api/components/nine-slice-sprite.mdx
  src/lib/AnimatedSprite.svelte
  src/lib/BitmapText.svelte
  src/lib/Graphics.svelte
  src/lib/HTMLText.svelte
  src/lib/MeshPlane.svelte
  src/lib/NineSliceSprite.svelte
  src/lib/Sprite.svelte
  src/lib/index.ts
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

migrate ParticleContainer
  docs/src/content/docs/api/components/particle-container.mdx
  src/lib/ParticleContainer.svelte
  v8.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

Path conditions:
  eslint --ignore-path .eslintignore --fix: any of: *.{js,ts,tsx,svelte}
  prettier --ignore-path .eslintignore . --write: any of: *.{js,ts,tsx,svelte}
  prettier --ignore-path .eslintignore --write: any of: *.{html,css,json,yml}
