Repository mattjennings/svelte-pixi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

specify pnpm version
  package.json
Due: prettier --ignore-path .eslintignore --write

add approve-scripts
  pnpm-workspace.yaml
Due: none

fix example package names
  .changeset/config.json
  .changeset/pre.json
  examples/svelte-kit/package.json
  examples/vite-svelte-4-5-interop/package.json
  examples/vite-svelte-4/package.json
  examples/vite/package.json
Due: prettier --ignore-path .eslintignore --write

version
  .changeset/pre.json
  .changeset/two-bananas-tie.md
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --write

run format
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/bitmap-text.mdx
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/content/docs/api/components/html-text.mdx
  docs/src/content/docs/api/components/mesh-plane.mdx
  docs/src/content/docs/api/components/mesh-rope.mdx
  docs/src/content/docs/api/components/mesh.mdx
  docs/src/content/docs/api/components/nine-slice-sprite.mdx
  docs/src/content/docs/api/components/particle-container.mdx
  docs/src/content/docs/api/components/perspective-mesh.mdx
  docs/src/content/docs/api/components/renderer.mdx
  docs/src/content/docs/api/components/sprite.mdx
  docs/src/content/docs/api/components/text.mdx
  docs/src/content/docs/api/components/ticker.mdx
  docs/src/content/docs/api/components/tiling-sprite.mdx
  docs/src/content/docs/api/utilities/get-app.mdx
  docs/src/content/docs/api/utilities/get-container.mdx
  docs/src/content/docs/api/utilities/get-renderer.mdx
  docs/src/content/docs/api/utilities/get-stage.mdx
  docs/src/content/docs/api/utilities/on-container-event.mdx
  docs/src/content/docs/api/utilities/on-stage-event.mdx
  docs/src/content/docs/api/utilities/tick.mdx
  docs/src/content/docs/api/utilities/track.mdx
  docs/src/content/docs/getting-started/usage.mdx
  docs/src/content/docs/guides/animation.mdx
  docs/src/content/docs/guides/binding-props.mdx
  docs/src/content/docs/guides/masks.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/content/docs/guides/reducing-bundle-size.mdx
  docs/src/content/docs/guides/upgrading-to-svelte-5.mdx
  docs/src/content/docs/releases/v8-0-0.mdx
Due: none

fix optimizing-performance page
  docs/src/content/docs/guides/optimizing-performance.mdx
Due: none

fix bundleName type in AssetsLoader to be optional
  src/lib/svelte-5/AssetsLoader.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

add documentation for asset/texture utilities
  docs/src/content/docs/api/utilities/asset.mdx
  docs/src/content/docs/api/utilities/texture.mdx
  src/lib/core/util/asset.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

narrow peerDependency for pixi.js v8
  .changeset/fuzzy-years-allow.md
  package.json
Due: prettier --ignore-path .eslintignore --write

version packages
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --write

version packages
  .changeset/fuzzy-years-allow.md
  .changeset/great-cups-brake.md
  .changeset/neat-rivers-complain.md
  .changeset/pre.json
  .changeset/seven-baboons-marry.md
  .changeset/tough-books-run.md
  .changeset/two-bananas-tie.md
  .changeset/warm-taxis-dream.md
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --write

Export component props
  .changeset/spotty-shirts-train.md
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

Export `createApplyProps`, `applyProps`, `applyProp`, `type Apply`
  .changeset/spotty-shirts-train.md
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

Export component props (#50)
  .changeset/spotty-shirts-train.md
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

version 8.0.1
  .changeset/spotty-shirts-train.md
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --write

Path conditions:
  eslint --ignore-path .eslintignore --fix: any of: *.{js,ts,tsx,svelte}
  prettier --ignore-path .eslintignore . --write: any of: *.{js,ts,tsx,svelte}
  prettier --ignore-path .eslintignore --write: any of: *.{html,css,json,yml}
