Repository mattjennings/svelte-pixi: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

docs
  docs/src/layouts/examples/wrappers/WithApp.svelte
  src/lib/svelte-4/Renderer.svelte
  src/lib/svelte-5/Application.svelte
  src/lib/svelte-5/Renderer.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

properly type props and generics in svelte 5
  docs/src/components/svelte-5/ComponentAPI.astro
  docs/src/components/svelte-5/component-parser.ts
  src/lib/core/util/data-types.ts
  src/lib/svelte-5/AnimatedSprite.svelte
  src/lib/svelte-5/Application.svelte
  src/lib/svelte-5/AssetsLoader.svelte
  src/lib/svelte-5/BitmapText.svelte
  src/lib/svelte-5/Container.svelte
  src/lib/svelte-5/Graphics.svelte
  src/lib/svelte-5/HTMLText.svelte
  src/lib/svelte-5/Mesh.svelte
  src/lib/svelte-5/MeshPlane.svelte
  src/lib/svelte-5/MeshRope.svelte
  src/lib/svelte-5/NineSliceSprite.svelte
  src/lib/svelte-5/ParticleContainer.svelte
  src/lib/svelte-5/PerspectiveMesh.svelte
  src/lib/svelte-5/Renderer.svelte
  src/lib/svelte-5/Sprite.svelte
  src/lib/svelte-5/Text.svelte
  src/lib/svelte-5/Ticker.svelte
  src/lib/svelte-5/TilingSprite.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

allow root Application stage to be manually rendered via snippet/slot
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/content/docs/api/components/perspective-mesh.mdx
  docs/src/content/docs/api/utilities/on-container-event.mdx
  docs/src/content/docs/api/utilities/on-stage-event.mdx
  src/lib/core/context/container.ts
  src/lib/svelte-4/Application.svelte
  src/lib/svelte-4/index.ts
  src/lib/svelte-5/Application.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

update usage
  docs/astro.config.ts
  docs/src/content/docs/getting-started/usage.mdx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/src/components/svelte-5/component-parser.ts
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/getting-started/svelte-5.mdx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/astro.config.ts
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/ticker.mdx
  docs/src/content/docs/getting-started/svelte-5.mdx
  docs/src/content/docs/guides/animation.mdx
  docs/src/content/docs/guides/binding-props.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/content/docs/guides/reducing-bundle-size.mdx
  docs/src/content/docs/guides/upgrading-to-svelte-5.mdx
  docs/src/content/docs/releases/v7-0-0.md
  docs/src/content/docs/releases/v8-0-0.md
  src/lib/svelte-4/Ticker.svelte
  src/lib/svelte-5/Ticker.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

dpcs
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/mesh.mdx
  docs/src/content/docs/api/components/renderer.mdx
  docs/src/content/docs/api/components/sprite.mdx
  docs/src/content/docs/api/svelte-4/components/animated-sprite.mdx
  docs/src/content/docs/api/svelte-4/components/application.mdx
  docs/src/content/docs/api/svelte-4/components/assets-loader.mdx
  docs/src/content/docs/api/svelte-4/components/bitmap-text.mdx
  docs/src/content/docs/api/svelte-4/components/container.mdx
  docs/src/content/docs/api/svelte-4/components/graphics.mdx
  docs/src/content/docs/api/svelte-4/components/html-text.mdx
  docs/src/content/docs/api/svelte-4/components/mesh-plane.mdx
  docs/src/content/docs/api/svelte-4/components/mesh-rope.mdx
  docs/src/content/docs/api/svelte-4/components/mesh.mdx
  docs/src/content/docs/api/svelte-4/components/nine-slice-sprite.mdx
  docs/src/content/docs/api/svelte-4/components/particle-container.mdx
  docs/src/content/docs/api/svelte-4/components/perspective-mesh.mdx
  docs/src/content/docs/api/svelte-4/components/renderer.mdx
  docs/src/content/docs/api/svelte-4/components/sprite.mdx
  docs/src/content/docs/api/svelte-4/components/text.mdx
  docs/src/content/docs/api/svelte-4/components/ticker.mdx
  docs/src/content/docs/api/svelte-4/components/tiling-sprite.mdx
  docs/src/content/docs/api/utilities/on-stage-event.mdx
  docs/src/content/docs/releases/v8-0-0.md
Due: none

docs
  docs/src/components/Hero/Stars.svelte
  docs/src/content/docs/api/components/particle-container.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/content/docs/releases/v8-0-0.md
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/src/content/docs/getting-started/usage.mdx
Due: none

masks guide
  docs/src/content/docs/guides/masks.mdx
  src/lib/svelte-4/Container.svelte
  src/lib/svelte-5/Container.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

add tick fn, deprecate track
  docs/src/content/docs/api/utilities/tick.mdx
  docs/src/content/docs/api/utilities/track.mdx
  docs/src/content/docs/guides/animation.mdx
  docs/src/content/docs/guides/binding-props.mdx
  docs/src/content/docs/guides/masks.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/content/docs/guides/reducing-bundle-size.mdx
  docs/src/content/docs/guides/upgrading-to-svelte-5.mdx
  docs/src/content/docs/releases/v8-0-0.mdx
  docs/src/layouts/examples/wrappers/WithApp.svelte
  src/lib/core/context/ticker.ts
  src/lib/core/util/props.ts
  src/lib/svelte-4/Application.svelte
  src/lib/svelte-4/Container.svelte
  src/lib/svelte-4/Ticker.svelte
  src/lib/svelte-4/index.ts
  src/lib/svelte-5/Application.svelte
  src/lib/svelte-5/Container.svelte
  src/lib/svelte-5/Renderer.svelte
  src/lib/svelte-5/Ticker.svelte
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/src/content/docs/releases/v8-0-0.mdx
  src/lib/core/util/props.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

fix double event triggers in svelte 4
  docs/src/content/docs/releases/v8-0-0.mdx
  src/lib/svelte-4/Container.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

add text docs, fix style applicaiotn
  docs/src/content/docs/api/components/text.mdx
  src/lib/svelte-5/Text.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

stuff
  package.json
  pnpm-lock.yaml
  v8.md
Due: prettier --ignore-path .eslintignore --write

fix docs build
  docs/package.json
  docs/src/components/svelte-4/ComponentAPI.astro
  docs/src/components/svelte-5/component-parser.ts
  docs/src/content/docs/guides/optimizing-performance.mdx
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

fix link
  docs/src/content/docs/releases/v8-0-0.mdx
Due: none

improve optimizing performance example
  docs/src/content/docs/guides/optimizing-performance.mdx
Due: none

add back oncreate callback
  src/lib/svelte-5/Container.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

docs
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/content/docs/api/components/mesh-rope.mdx
  docs/src/content/docs/api/components/mesh.mdx
  docs/src/content/docs/api/utilities/tick.mdx
  docs/src/content/docs/getting-started/usage.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
Due: none

start tests
  package.json
  pnpm-lock.yaml
  test-utils/pixi.svelte.ts
  tests/text.spec.ts
  vite.config.ts
  vitest.workspace.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

container prop tests
  src/lib/svelte-5/Container.svelte
  test-utils/pixi.svelte.ts
  tests/container.spec.ts
  tests/text.spec.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

fix container onremoved
  src/lib/svelte-5/Container.svelte
  test-utils/pixi.svelte.ts
  tests/container.spec.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

add test workflow
  .github/workflows/tests.yml
  tests/container.spec.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

tests
  tests/text.spec.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write

8.0.0-next.0
  .changeset/config.json
  .changeset/neat-rivers-complain.md
  .changeset/pre.json
  .changeset/warm-taxis-dream.md
  CHANGELOG.md
  package.json
Due: prettier --ignore-path .eslintignore --write

remove /svelte-5 exports path
  package.json
Due: prettier --ignore-path .eslintignore --write

remove lang tags on svelte 4 processed components
  .changeset/great-cups-brake.md
  .changeset/pre.json
  CHANGELOG.md
  examples/vite-svelte-4-5-interop/CHANGELOG.md
  examples/vite-svelte-4-5-interop/package.json
  package.json
  pnpm-lock.yaml
  svelte.config.js
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

update lock
  pnpm-lock.yaml
Due: none

add experimental assets and texture store loaders
  .changeset/seven-baboons-marry.md
  examples/svelte-kit/package.json
  examples/svelte-kit/src/lib/PixiApp.svelte
  examples/svelte-kit/src/lib/pixijs-logo.svg
  examples/vite-svelte-4-5-interop/package.json
  examples/vite-svelte-4/package.json
  examples/vite/package.json
  src/lib/core/util/asset.ts
  src/lib/svelte-4/index.ts
  src/lib/svelte-5/index.ts
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

v8.0.0-next.2
  .changeset/pre.json
  CHANGELOG.md
  examples/vite-svelte-4-5-interop/CHANGELOG.md
  examples/vite-svelte-4-5-interop/package.json
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  package.json
Due: prettier --ignore-path .eslintignore --write

fix examples
  examples/svelte-kit/package.json
  examples/vite-svelte-4-5-interop/package.json
  examples/vite-svelte-4/package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

ignore state_referenced_locally warnings on instance creation
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/lib/svelte-5/AnimatedSprite.svelte
  src/lib/svelte-5/Application.svelte
  src/lib/svelte-5/BitmapText.svelte
  src/lib/svelte-5/Container.svelte
  src/lib/svelte-5/Graphics.svelte
  src/lib/svelte-5/HTMLText.svelte
  src/lib/svelte-5/Mesh.svelte
  src/lib/svelte-5/MeshPlane.svelte
  src/lib/svelte-5/MeshRope.svelte
  src/lib/svelte-5/NineSliceSprite.svelte
  src/lib/svelte-5/ParticleContainer.svelte
  src/lib/svelte-5/PerspectiveMesh.svelte
  src/lib/svelte-5/Renderer.svelte
  src/lib/svelte-5/RendererContext.svelte
  src/lib/svelte-5/Sprite.svelte
  src/lib/svelte-5/Text.svelte
  src/lib/svelte-5/TilingSprite.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

upgrade pnpm in ci
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: prettier --ignore-path .eslintignore --write

fix prettier
  .prettierignore
  docs/src/content/docs/api/components/animated-sprite.mdx
  docs/src/content/docs/api/components/application.mdx
  docs/src/content/docs/api/components/assets-loader.mdx
  docs/src/content/docs/api/components/bitmap-text.mdx
  docs/src/content/docs/api/components/container.mdx
  docs/src/content/docs/api/components/graphics.mdx
  docs/src/content/docs/api/components/html-text.mdx
  docs/src/content/docs/api/components/mesh-plane.mdx
  docs/src/content/docs/api/components/mesh-rope.mdx
  docs/src/content/docs/api/components/mesh.mdx
  docs/src/content/docs/api/components/nine-slice-sprite.mdx
  docs/src/content/docs/api/components/particle-container.mdx
  docs/src/content/docs/api/components/perspective-mesh.mdx
  docs/src/content/docs/api/components/renderer.mdx
  docs/src/content/docs/api/components/sprite.mdx
  docs/src/content/docs/api/components/text.mdx
  docs/src/content/docs/api/components/ticker.mdx
  docs/src/content/docs/api/components/tiling-sprite.mdx
  docs/src/content/docs/api/utilities/get-app.mdx
  docs/src/content/docs/api/utilities/get-container.mdx
  docs/src/content/docs/api/utilities/get-renderer.mdx
  docs/src/content/docs/api/utilities/get-stage.mdx
  docs/src/content/docs/api/utilities/on-container-event.mdx
  docs/src/content/docs/api/utilities/on-stage-event.mdx
  docs/src/content/docs/api/utilities/tick.mdx
  docs/src/content/docs/api/utilities/track.mdx
  docs/src/content/docs/getting-started/usage.mdx
  docs/src/content/docs/guides/animation.mdx
  docs/src/content/docs/guides/binding-props.mdx
  docs/src/content/docs/guides/masks.mdx
  docs/src/content/docs/guides/optimizing-performance.mdx
  docs/src/content/docs/guides/reducing-bundle-size.mdx
  docs/src/content/docs/guides/upgrading-to-svelte-5.mdx
  docs/src/content/docs/releases/v8-0-0.mdx
  package.json
  src/lib/svelte-4/AssetsLoader.svelte
  src/lib/svelte-5/Ticker.svelte
Due: eslint --ignore-path .eslintignore --fix, prettier --ignore-path .eslintignore . --write, prettier --ignore-path .eslintignore --write

fix validate script
  package.json
Due: prettier --ignore-path .eslintignore --write

more formatting
  docs/src/content/docs/guides/optimizing-performance.mdx
Due: none

fix tests
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path .eslintignore --write

Path conditions:
  eslint --ignore-path .eslintignore --fix: any of: *.{js,ts,tsx,svelte}
  prettier --ignore-path .eslintignore . --write: any of: *.{js,ts,tsx,svelte}
  prettier --ignore-path .eslintignore --write: any of: *.{html,css,json,yml}
